$bg-c: rgba(25, 66, 119, 0.8); //background cookie
$cbt-c: #194277; //color text bnt cookies
$wb-c: 115px; //width button cookies
$hb-c: 30px; //height button cookies
////
$bg-ct: rgba(71, 148, 254, 0.5); //background circle top (1 and 3)
$bg-cd:  rgba(75, 150, 254, 0.5); // background circle dark (2)
$bg-cc: rgba(255, 255, 255, 1); // background circle center
$rt: 180px; //top circle radius
$rd: 160px; //dark circle radius
$rl: 150px; //light circle radius
$rc: 130px; //centr circle radius
$bg-b: #3679fd; //background burger
$bg-bM: #367efe; //background burger media w: 1024px - 1540px
$bg-bMm: #3681fe; //background burged (mobile) media w: 320px- 1024px
$ct-p: #ffffff; //color text, heading and cookies portfolio
$cbt: #3695ff; //color btn text in portfolio
$wb-p: 200px; //width button portfolio
$hb-p: 60px; //height button portfolio

////fonts
$f-Lbl: 'Lato', Black;
$f-Ll: 'Lato', light;
$f-Lb: 'Lato', bold;
$f-Lr: 'Lato', regular;